<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Add Lemma Type to Text Token</title>
  <link th:replace="fragments/links.html :: bootstrap-link">

</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div th:replace="fragments/messages.html :: error"></div>

<form th:object="${addLemmaTypeToTextTokenDTO}" method="POST" th:action="@{|/lemma-type/update/*{textTokenId}|}">
  <h1 th:utext="|The researched text token is : <strong> *{textTokenText}</strong>|"></h1>
  <h3 th:utext="|Sentence is :<strong> *{sentenceText} </strong>|"></h3>

  <div th:if="*{lemmaTypeTextsAndIds.isEmpty()}">
    <input name="lemmaTypeId" placeholder="Add your word stem matching the text token">
    <textarea name="lemmaToken" placeholder="Add other forms of given token, if more, separate them with ';'"></textarea>

  </div>
  <div th:unless="*{lemmaTypeTextsAndIds.isEmpty()}">
    <p>Choose the right word stem!</p>
    <select name="lemmaTypeId">
      <option th:each="lemmaTypeTextsAndId: *{lemmaTypeTextsAndIds}" th:text="${lemmaTypeTextsAndId.value}"
              th:value="${lemmaTypeTextsAndId.key}"></option>
    </select>
  </div>

  <div th:if="*{phraseType == null || phraseType.length() == 0}">
      <select name="phraseType">
        <option th:field=*{phraseType}
                th:each="phraseType : ${phraseTypes}"
                th:value="${phraseType}" th:text="${phraseType}"></option>
      </select>
  </div>

  <div th:unless="*{phraseType == null || phraseType.length() == 0}">
    <input hidden name="phraseType" th:value="*{phraseType}">
  </div>


  <button type="submit">SUBMIT</button>
  <button type="reset">RESET</button>
</form>

<script th:replace="fragments/links.html :: jquery"></script>
<script th:replace="fragments/links.html :: cloudflare"></script>
<script th:replace="fragments/links.html :: bootstrap"></script>
</body>
</html>