<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link th:replace="fragments/links.html :: bootstrap-link">

</head>
<body>

<div th:replace="fragments/navbar.html :: navbar"></div>
<div th:replace="fragments/messages.html :: error"></div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Text Token Text</th>
    <th>Fix this</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="invalidLemmasDTO : ${invalidLemmasDTOS}" th:object="${invalidLemmasDTO}">
    <td th:text="*{textTokenText}"></td>
    <td><a th:href="@{|/text-token/change/*{textTokenId}/*{textTokenText}|}">Change this</a></td>
    <td><a th:href="@{|/text-token/delete/*{textTokenId}|}">DELETE this</a></td>
  </tr>
  </tbody>
</table>


<script th:replace="fragments/links.html :: jquery"></script>
<script th:replace="fragments/links.html :: cloudflare"></script>
<script th:replace="fragments/links.html :: bootstrap"></script>

</body>
</html>