<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Show sentences</title>
  <link th:replace="fragments/links.html :: bootstrap-link">

</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<div th:replace="fragments/messages.html :: error"></div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Text</th>
    <th>Show article</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="sentenceTextAndNewsPaperIdDTO: ${sentenceTextAndNewsPaperIdDTOs}"
      th:object="${sentenceTextAndNewsPaperIdDTO}">
    <td th:text="*{sentenceText}"></td>
    <td><a th:href="@{|/news-article/get/*{newsArticleId}|}">Show article</a></td>
  </tr>
  </tbody>
</table>

<script th:replace="fragments/links.html :: jquery"></script>
<script th:replace="fragments/links.html :: cloudflare"></script>
<script th:replace="fragments/links.html :: bootstrap"></script>
</body>
</html>