<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Most Common Lemmas</title>
  <link th:replace="fragments/links.html :: bootstrap-link">
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<div th:replace="fragments/messages.html :: error"></div>

<form method="POST" th:action="@{|/sentence/context/${lemmaTypeId}|}">
  <label for="distance">Provide lemma distance, if full sentence, write 0</label>
  <input id="distance" name="distance" placeholder="enter distance" autofocus required>

  <button type="submit">SUBMIT</button>
  <button type="reset">RESET</button>
</form>


<script th:replace="fragments/links.html :: jquery"></script>
<script th:replace="fragments/links.html :: cloudflare"></script>
<script th:replace="fragments/links.html :: bootstrap"></script>
</body>
</html>